body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(underconstruction.jpg); 
}
#wrapper {
  width: 1200px;
  margin: 20px auto 20px auto;
  color: white;
}
#headline {
  text-align: center;
}
#headline2 {
  text-align: center;
  color: yellow;
}
#headline3 {
  text-align: center;
  color: black;
  font-weight: bold;
}
.subheader {
  color: yellow;
}
.text {
  color: black;
  font-weight: bold;
}
.picture {
  text-align: right;
}
h3 {
  text-align: center;
  color: black;
  border-style: solid;
  border-width: 4px;
  border-color: yellow;
}
.socialmedia {
  text-align: center;
}