body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-color: grey;
  /*background-image: url(walter.jpg); 
  background-repeat: repeat;*/
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
  color: red;
  /* test 123 */
  text-decoration: underline;
}
h4 {
  color: green;
  border-style: solid;
  border-width: 1px;
}
/*#summary {
  color: orange;
}*/
.unicorns {
  color: purple;
  font-style: italic;
  border-width: 5px;
  /*border-color: yellow;*/
}